<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="Application"  value="TIS" />
    <add key="ApplicationVersion"  value="V11.1.1" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionStringException"
          connectionString="Data Source=.;Initial Catalog=Exception;User Id=ExcAdmin;Password=Pass4EXC;" />
    <add name="ConnectionStringData"
          connectionString="Data Source=.;Initial Catalog=TIS;User Id=TISAdmin;Password=Pass4TIS"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>