<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="Application" value="TIS"/>
    <add key="ApplicationVersion" value="V11.1.1"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionStringException" connectionString="Data Source=192.168.20.4;Initial Catalog=Exception;User Id=ExcAdmin;Password=Pass4EXC;"/>
    <add name="ConnectionStringData" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=TIS_QA; integrated security=true" providerName="System.Data.SqlClient"/><!--User Id=TISAdmin;Password=Pass4TIS" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionStringData" connectionString="Data Source=DEVTS01\SQLEXPRESS;Initial Catalog=TIS_QA; integrated security=true" providerName="System.Data.SqlClient"/> -->
    <!--User Id=TISAdmin;Password=Pass4TIS" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionStringException"
      connectionString="Data Source=192.168.2.6,1435;Initial Catalog=EXCEPTION;User Id=ExcAdmin;Password=Pass4EXC;" />
    <add name="ConnectionStringData"
          connectionString="Data Source=192.168.2.6,1435;Initial Catalog=TIS;User Id=TISAdmin;Password=Pass4TIS"
          providerName="System.Data.SqlClient" />-->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
